:root {
    --mainBg: rgba(3, 167, 151, 0.459);
    --mainBg-2: rgba(0, 81, 92, 0.404);
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(45deg, var(--mainBg) 0%, var(--mainBg) 45%, var(--mainBg-2) 45%, var(--mainBg-2) 100%), url('https://source.unsplash.com/rsJtMXn3p_c/1000x1000') no-repeat center;
    background-size: cover;
}

button {
    color: #f2f2f2;
    font-weight: 300;
    font-size: 2rem;
    min-width: 300px;
    margin: 20px;
    padding: 10px 20px;
    background: transparent;
    outline: none;
    border: 4px solid var(--mainBg);
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background: var(--mainBg-2);
    border: 5px solid transparent;
}

.display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* outline: 2px solid red; */
    padding: 20px;
    min-width: 60%;
}

ul {
    list-style: none;
    background: var(--mainBg);
    padding: 20px 10px;
    color: rgb(221, 224, 224);
}

li {
    margin-top: 10px;
}